{% extends "portals/base.html" %}

{% block portal_content %}
{% if section == "dashboard" %}
  {% include "portals/owner/dashboard.html" %}
{% elif section == "products" %}
  {% include "portals/owner/products.html" %}
{% elif section == "reports" %}
  {% include "portals/owner/reports.html" %}
{% elif section == "forecasts" %}
  {% include "portals/owner/forecasts.html" %}
{% elif section == "accounts" %}
  {% include "portals/owner/accounts.html" %}
{% elif section == "logs" %}
  {% include "portals/owner/logs.html" %}
{% endif %}
{% endblock %}
