{% extends "portals/base.html" %}

{% block portal_content %}
{% if section == "dashboard" %}
  {% include "portals/team-leader/dashboard.html" %}
{% elif section == "sales" %}
  {% include "portals/team-leader/sales.html" %}
{% elif section == "inventory" %}
  {% include "portals/team-leader/inventory.html" %}
{% elif section == "inquiries" %}
  {% include "portals/team-leader/inquiries.html" %}
{% elif section == "orders" %}
  {% include "portals/team-leader/orders.html" %}
{% elif section == "reports" %}
  {% include "portals/team-leader/reports.html" %}
{% endif %}
{% endblock %}
